@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  background: url('../img/fon.png') no-repeat top center / 100% 100%;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
}

.container {
  max-width: 2000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.summary {
  background: url('../img/shit.jpg');
  padding: auto;
  color: #fff;
}

.summary__table tr:last-child {
  font-weight: bold;
}

.summary__value {
  padding-left: 20px;
  text-align: center;
}

.production {
  grid-column: 1/-1;
  order: 2;
  background: url('../img/chart.png'); /*var(--gradient);*/
  /* padding: var(--block-padding); */
}

.production__title {
  text-align: center;
}

.production__subtitle {
  font-size: 1em;
  text-align: center;
}

.birthdays {
  background: url('../img/hp-fon.png');
  padding: var(--block-padding);
  display: inline-block;
  position: relative;
}

.birthdays__list {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5px;
  color: #fff;
}

.birthdays__person span {
  color: #dadada;
}

.go-to-work {
  display: block;
  width: fit-content;
  padding: 10px 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: url('../img/wp.jfif');
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.wrap-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.tasks {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.tasks__item:not(:last-child) {
  margin-bottom: 20px;
}

.news {
  grid-column: 1/-1;
  order: 2;
  padding: 1em;
  background: url('../img/news-fon.png');
  padding: auto;
}

.news__list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.news__item:not(:last-child) {
  margin-bottom: 20px;
}

.news__item {
  display: grid;
  gap: 10px;
  color: #fff;
}

.some-nav {
  padding-left: 0;
  margin: 0;
  list-style-type: none;

}

.some-nav__item:not(:last-child) {
  margin-bottom: 20px;
}

/* <!--   КНОПКИ  --> */
.some-nav__link, .tasks__link {
  display: flex;
  padding: 1em;
  cursor: pointer;
  background: url('../img/btn.jpg');
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 7px;
}

.tasks__link:hover {
  background: var(--dark);
}

.some-nav__link:hover {
  background: var(--dark);
}

@media (min-width: 900px) {
  .wrap-1 {
    grid-template-columns: 1fr 1fr;
  }

  .wrap-2 {
    grid-template-columns: 1fr 1fr;
  }

  .news__item {
    grid-template-columns: max-content 1fr;
    gap: 20px;
  }
}

@media (min-width: 2000px) {
  .wrap-1 {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .wrap-2 {
    grid-template-columns: 210px 1fr 210px;
  }

  .production {
    order: revert;
    grid-column: span 1;
  }

  .news {
    order: revert;
    grid-column: span 1;
  }
}