{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'users/contracts.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> -->
    <script src="https://kit.fontawesome.com/41f60ad91d.js" crossorigin="anonymous"></script>
    <title>Договоры</title>
</head>

<body>

    <div class="wrapper">
        <div class="wrap-1 container">
            <div class="item-1">
                <table>
                    <h6>ОБЩИЕ ДАННЫЕ ПО СОГЛАСОВАНИЮ ДОГОВОРОВ</h6>
                    <tr>
                        <td>Поступило на согласование договоров</td>
                        <td>&ensp;100</td>
                    </tr>
                    <tr>
                        <td>Согласовано</td>
                        <td>&ensp;90</td>
                    </tr>
                    <tr>
                        <td>На согласовании</td>
                        <td>&ensp;10</td>
                    </tr>
                    <tr>
                        <td>Согласовоно без отклонения по срокам</td>
                        <td>&ensp;70</td>
                    </tr>
                    <tr>
                        <td>Согласовоно с отклонением по срокам</td>
                        <td>&ensp;20</td>
                    </tr>
                    <tr>
                        <td>Требуют внимания</td>
                        <td>&ensp;5</td>
                    </tr>
                </table>
            </div>
            <div class="item-2"></div>
        </div>

        <div class="wrap-2 container">
            <table class="tab-2">
                <tr>
                    <th>Договор<br> №</th>
                    <th>НАИМЕНОВАНИЕ</th>
                    <th>дата <br>запуска</th>
                    <th>план<br> окончания</th>
                    <th>факт<br> окончания</th>
                    <th>договор</th>
                    <th>замечания</th>
                    <th>Ком.<br>отдел</th>
                    <th>ОСЗ</th>
                    <th>ОСН</th>
                    <th>Юр.<br>отдел</th>
                    <th>Гл.бух</th>
                    <th>ЗГД <br>развитие</th>
                    <th>Ком.<br>директор</th>
                    <th>Первый<br> ЗГД</th>
                    <th>Ген.<br>директор</th>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></i></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
                <tr>
                    <td>1/123</td>
                    <td>Поставка РВС 10 000 для нужд РН........................... </td>
                    <td>21.09.21</td>
                    <td>01.10.21</td>
                    <td>10.10.21</td>
                    <td><i class="fas fa-file-contract"></i></td>
                    <td><i class="fas fa-clipboard" style="color: red;"></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="200" low="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                    <td><meter value="50" max="100"></meter></td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>